body{
    font-family: "Afacad Flux", sans-serif;

}
.treeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.treeContainer >article{
    width: 30%;
    box-shadow: 5px 10px black;
    text-align: center;
    padding: 10px
}

h1{
    text-align: center;
    color: black;
    border: black solid;
    background-color: aliceblue;
}

article >img {
    max-width: 70%;
}

p{
    text-align: center;
    color: black;
    font-size: xx-large;
}

h3{
    font-size: xxx-large;
}

